/venv
/analysis/fraudTest.csv
analysis/*.pkl
/__pycache__
analysis/__pycache__/encoder_for_text_cols.cpython-311.pyc
analysis/__pycache__/preprocess_data.cpython-311.pyc
transactions.db
test.ipynb
fraud_results.db
install.ipynb
test_1.ipynb
/first_version_with_database
D:/Machine_Learning/Project_Sigmoid_AI/app/__pycache__
app/__pycache__/app.cpython-311.pyc
app/__pycache__/create_result_tables.cpython-311.pyc
testing/test_1.ipynb
app/__pycache__/handler_result_tables.cpython-311.pyc
